@keyframes slidedown-icon {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(20px);
  }

  100% {
    transform: translateY(0);
    
  }
}

:host .slidedown-icon {
  animation: slidedown-icon 3s infinite;
}
