<p-menubar [dt]="pMenuCss" class="bg-gray-100">
  <ng-template #start>
    <p-button (click)="visible=true" icon="pi pi-bars" variant="text" rounded="true"/>
    <div class="flex items-center justify-between px-6 shrink-0">
      <span class="inline-flex items-center gap-2" role="button" style="cursor:pointer;" [routerLink]="['/app']" (click)="closeCallback($event)">
        <img src="favicon.svg" alt="logo" class="block" style="max-width: 30%; max-height: 80px;" />
        <span class="font-semibold text-2xl text-primary">Your Logo</span>
      </span>
    </div>
  </ng-template>

  <ng-template #end>
    <div class="flex items-center justify-between px-6 shrink-0">
      <p-toast position="top-center"/>
      <p-button *ngFor="let b of menubarButton" [icon]="b.icon" variant="text" rounded="true" severity="info" (click)="b.command()"/>
    </div>
  </ng-template>
</p-menubar>

<p-drawer #drawerRef [(visible)]="visible">
  <ng-template #headless>
    <div class="h-full flex flex-col">
      <div class="flex items-center justify-between px-6 pt-4 shrink-0">
        <span class="inline-flex items-center gap-2" role="button" style="cursor:pointer;" [routerLink]="['/app']" (click)="closeCallback($event)">
          <img src="favicon.svg" alt="logo" class="block" style="max-width: 30%; max-height: 80px;" />
          <span class="font-semibold text-2xl text-primary">Your Logo</span>
        </span>
        <span>
          <p-button icon="pi pi-times" [rounded]="true" [text]="true" severity="danger" (click)="closeCallback($event)" />
        </span>
      </div>

      <div class="overflow-y-auto">
        <p-menu [model]="items" [dt]="pMenuCss">
           <ng-template #item let-item>
             <a pRipple class="flex items-center p-menu-item-link text-lg py-3 px-4 bg-transparent hover:bg-gray-100" [routerLink]="(item.routerLink?item.routerLink:null)">
              <span [class]="item.icon + ' font-medium '+ (item.iconColor?item.iconColor:'') "></span>
              <span class="ml-3 font-medium">{{ item.label }}</span>
              <p-badge *ngIf="item.badge" class="ml-auto" [value]="item.badge"  />
             </a>
          </ng-template>
        </p-menu>
      </div>

      <div class="mt-auto">
        <hr class="mb-4 mx-4 border-t border-0 border-surface" />
        <button pRipple class="relative overflow-hidden w-full border-0 bg-transparent flex items-start p-4 pl-4 hover:bg-surface-100 dark:hover:bg-surface-800 rounded-none cursor-pointer transition-colors duration-200">            
          <p-avatar icon="pi pi-user" class="mr-2" size="large" shape="circle" />
          <span class="inline-flex flex-col text-left">
            <span class="font-bold">Amy Elsner</span>
            <span class="text-sm">Admin</span>
          </span>
        </button>
      </div>
    </div>
  </ng-template>
</p-drawer>

<router-outlet/>
